In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt


import requests 
import json 
import time 
from datetime import datetime, timedelta
from bs4 import BeautifulSoup
from scipy.stats import trim_mean

import warnings
warnings.filterwarnings(action= "ignore")

pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [2]:
url = 'https://api.bunjang.co.kr/api/1/find_v2.json?q={}&order=score&page={}&request_id=20211110215050&stat_device=w&n=100&stat_category_required=1&req_ref=search&version=4'
keywords = ['나이키 덩크로우']

In [3]:
def dunk_crawler(keyword, n=80):
    df = pd.DataFrame()
    
    for i in range(0,n):

        seed = np.random.randint(100)
        np.random.seed(seed)
        a = np.random.randint(3)
        time.sleep(a)
        
        url_formating = url.format(keyword, i) # url에 포맷팅을 적용한다.
        info = {'referer' : 'https://m.bunjang.co.kr/',
           'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'}
         
       
        print(f'{i}th, {(i+1)*100}개째 상품을 크롤링 중')
       
        resp = requests.get(url_formating, headers = info)

        
        if resp.status_code == requests.codes.ok:
            data = json.loads(resp.text)
            next_df = pd.DataFrame(data['list'])
            df = pd.concat([df, next_df])

        
        else:
            print(f'{i}번째 요청이 잘못되었습니다.')
            pass 

    
    print('크롤링 완료!!')
    result = df.reset_index(drop=True)
    return result

In [4]:
dunk_df = dunk_crawler(keywords[0] , 80)

0th, 100개째 상품을 크롤링 중
1th, 200개째 상품을 크롤링 중
2th, 300개째 상품을 크롤링 중
3th, 400개째 상품을 크롤링 중
4th, 500개째 상품을 크롤링 중
5th, 600개째 상품을 크롤링 중
6th, 700개째 상품을 크롤링 중
7th, 800개째 상품을 크롤링 중
8th, 900개째 상품을 크롤링 중
9th, 1000개째 상품을 크롤링 중
10th, 1100개째 상품을 크롤링 중
11th, 1200개째 상품을 크롤링 중
12th, 1300개째 상품을 크롤링 중
13th, 1400개째 상품을 크롤링 중
14th, 1500개째 상품을 크롤링 중
15th, 1600개째 상품을 크롤링 중
16th, 1700개째 상품을 크롤링 중
17th, 1800개째 상품을 크롤링 중
18th, 1900개째 상품을 크롤링 중
19th, 2000개째 상품을 크롤링 중
20th, 2100개째 상품을 크롤링 중
21th, 2200개째 상품을 크롤링 중
22th, 2300개째 상품을 크롤링 중
23th, 2400개째 상품을 크롤링 중
24th, 2500개째 상품을 크롤링 중
25th, 2600개째 상품을 크롤링 중
26th, 2700개째 상품을 크롤링 중
27th, 2800개째 상품을 크롤링 중
28th, 2900개째 상품을 크롤링 중
29th, 3000개째 상품을 크롤링 중
30th, 3100개째 상품을 크롤링 중
31th, 3200개째 상품을 크롤링 중
32th, 3300개째 상품을 크롤링 중
33th, 3400개째 상품을 크롤링 중
34th, 3500개째 상품을 크롤링 중
35th, 3600개째 상품을 크롤링 중
36th, 3700개째 상품을 크롤링 중
37th, 3800개째 상품을 크롤링 중
38th, 3900개째 상품을 크롤링 중
39th, 4000개째 상품을 크롤링 중
40th, 4100개째 상품을 크롤링 중
41th, 4200개째 상품을 크롤링 중
42th, 4300개째 상품을 크롤링 중
43th, 4400개째 상품을 크롤링 중
44th, 4500개째 상품을 크롤링 중
45th, 4600개째 상품을 크롤링 중
46th, 4700개째 상품을 크롤링 중
47th, 4800개째 상품을 크롤링 중
48th, 4900개째 상품을 크롤링 중
49th, 5000개째 상품을 크롤링 중
50th, 5100개째 상품을 크롤링 중
51th, 5200개째 상품을 크롤링 중
52th, 5300개째 상품을 크롤링 중
53th, 5400개째 상품을 크롤링 중
54th, 5500개째 상품을 크롤링 중
55th, 5600개째 상품을 크롤링 중
56th, 5700개째 상품을 크롤링 중
57th, 5800개째 상품을 크롤링 중
58th, 5900개째 상품을 크롤링 중
59th, 6000개째 상품을 크롤링 중
60th, 6100개째 상품을 크롤링 중
61th, 6200개째 상품을 크롤링 중
62th, 6300개째 상품을 크롤링 중
63th, 6400개째 상품을 크롤링 중
64th, 6500개째 상품을 크롤링 중
65th, 6600개째 상품을 크롤링 중
66th, 6700개째 상품을 크롤링 중
67th, 6800개째 상품을 크롤링 중
68th, 6900개째 상품을 크롤링 중
69th, 7000개째 상품을 크롤링 중
70th, 7100개째 상품을 크롤링 중
71th, 7200개째 상품을 크롤링 중
72th, 7300개째 상품을 크롤링 중
73th, 7400개째 상품을 크롤링 중
74th, 7500개째 상품을 크롤링 중
75th, 7600개째 상품을 크롤링 중
76th, 7700개째 상품을 크롤링 중
77th, 7800개째 상품을 크롤링 중
78th, 7900개째 상품을 크롤링 중
79th, 8000개째 상품을 크롤링 중
크롤링 완료!!

In [5]:
dunk_df.head(5)

,ad,bizseller,checkout,contact_hope,free_shipping,is_adult,is_super_up_shop,location,max_cpc,name,num_comment,num_faved,only_neighborhood,outlink_url,pid,price,product_image,pu_id,ref_campaign,ref_code,ref_medium,ref_content,ref_source,status,style,super_up,tag,uid,update_time,used,bun_pay_filter_enabled,imp_id,ad_ref,faved
0,False,False,False,False,False,False,None,서울특별시 강남구 대치2동,None,[260] 나이키 덩크로우 프로 메이플 레전드,0,4,False,,164228023,130000,https://media.bunjang.co.kr/product/164228023_...,None,None,soldout_test_v2:B,None,,,0,,None,나이키 올드덩크 덩크로우 덩크 빈티지,4766632,1638273330,1,True,373b61a612cb3eb5aadb,,False
1,False,False,False,False,False,False,None,서울특별시 강남구 대치2동,None,[270] 나이키 덩크로우 PRM 아트모스 비스트 팩,0,1,False,,164230344,450000,https://media.bunjang.co.kr/product/164230344_...,None,None,soldout_test_v2:B,None,,,0,,None,나이키 올드덩크 덩크로우 아트모스 덩크,4766632,1638273331,1,True,373b61a612cb3eb5aadc,,False
2,False,False,False,False,False,False,None,서울특별시 관악구 신림동,None,"265,270)나이키 덩크로우 emb nets 넷츠 판매합니다",0,1,False,,170153073,260000,https://media.bunjang.co.kr/product/170153073_...,None,None,soldout_test_v2:B,None,,,0,,None,나이키 덩크로우 nets 265 270,993604,1638273237,2,True,373b61a612cb3eb5aadd,,False
3,False,False,False,False,False,False,None,서울특별시 관악구 신림동,None,"280,290)나이키 덩크로우 지브라 블랙 화이트 판매합니다",0,2,False,,156388904,280000,https://media.bunjang.co.kr/product/156388904_...,None,None,soldout_test_v2:B,None,,,0,,None,나이키 덩크로우 지브라 290,993604,1638273188,2,True,373b61a612cb3eb5aade,,False
4,False,False,False,False,False,False,None,서울특별시 관악구 서림동,None,w255)나이키 우먼스 덩크로우 트리플 화이트 판매합니다,0,5,False,,170259472,130000,https://media.bunjang.co.kr/product/170259472_...,None,None,soldout_test_v2:B,None,,,0,,None,나이키 덩크로우 트리플화이트 w255,993604,1638273213,2,True,373b61a612cb3eb5aadf,,False

### 컬럼 추출

In [6]:
columns = ["location", "name","num_faved", "pid", "price","status","uid","update_time","used"]
dunk_df= dunk_df.loc[: ,columns]

dunk_df.head(3)

,location,name,num_faved,pid,price,status,uid,update_time,used
0,서울특별시 강남구 대치2동,[260] 나이키 덩크로우 프로 메이플 레전드,4,164228023,130000,0,4766632,1638273330,1
1,서울특별시 강남구 대치2동,[270] 나이키 덩크로우 PRM 아트모스 비스트 팩,1,164230344,450000,0,4766632,1638273331,1
2,서울특별시 관악구 신림동,"265,270)나이키 덩크로우 emb nets 넷츠 판매합니다",1,170153073,260000,0,993604,1638273237,2

### 날짜 변환


### Datetime maker

- update_time 컬럼 : 1970-01-01 09:00 이후로 초를 카운트한 값이다.<br>
    - 1970-01-01 09:00라는 기준에서 5분 이내의 오차가 존재한다. (큰 문제 없음)
- update_time 컬럼을 datetime과 timedelta를 이용해 날짜로 변환한다.
- 새로 생성된 컬럼<br>
    - datetime : timedelta형식의 날짜데이터
    - year : 년도데이터
    - month : 월 데이터
    - day : 일 데이터
    - weekday : 요일 데이터
    - hour : 시간 데이터

In [7]:
def get_date(x):
    return datetime(1970,1,1,9) + timedelta(seconds=int(x))

In [8]:
def datetime_maker(df):
    df['datetime'] = df['update_time'].apply(get_date)
    return df

In [9]:
dunk_df = datetime_maker(dunk_df)
dunk_df.head()

,location,name,num_faved,pid,price,status,uid,update_time,used,datetime
0,서울특별시 강남구 대치2동,[260] 나이키 덩크로우 프로 메이플 레전드,4,164228023,130000,0,4766632,1638273330,1,2021-11-30 20:55:30
1,서울특별시 강남구 대치2동,[270] 나이키 덩크로우 PRM 아트모스 비스트 팩,1,164230344,450000,0,4766632,1638273331,1,2021-11-30 20:55:31
2,서울특별시 관악구 신림동,"265,270)나이키 덩크로우 emb nets 넷츠 판매합니다",1,170153073,260000,0,993604,1638273237,2,2021-11-30 20:53:57
3,서울특별시 관악구 신림동,"280,290)나이키 덩크로우 지브라 블랙 화이트 판매합니다",2,156388904,280000,0,993604,1638273188,2,2021-11-30 20:53:08
4,서울특별시 관악구 서림동,w255)나이키 우먼스 덩크로우 트리플 화이트 판매합니다,5,170259472,130000,0,993604,1638273213,2,2021-11-30 20:53:33

In [10]:
### 시간,분,초 삭제하고 새로운 date 컬럼 생성 

def dt_index(x):
    return str(x)[:10]

In [11]:
dunk_df["date"] = dunk_df["datetime"].apply(dt_index)
dunk_df.head(3)

,location,name,num_faved,pid,price,status,uid,update_time,used,datetime,date
0,서울특별시 강남구 대치2동,[260] 나이키 덩크로우 프로 메이플 레전드,4,164228023,130000,0,4766632,1638273330,1,2021-11-30 20:55:30,2021-11-30
1,서울특별시 강남구 대치2동,[270] 나이키 덩크로우 PRM 아트모스 비스트 팩,1,164230344,450000,0,4766632,1638273331,1,2021-11-30 20:55:31,2021-11-30
2,서울특별시 관악구 신림동,"265,270)나이키 덩크로우 emb nets 넷츠 판매합니다",1,170153073,260000,0,993604,1638273237,2,2021-11-30 20:53:57,2021-11-30

In [12]:
dunk_df["date"] = pd.to_datetime(dunk_df["date"])

In [13]:
dunk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     8000 non-null   object
 1   name         8000 non-null   object
 2   num_faved    8000 non-null   object
 3   pid          8000 non-null   object
 4   price        8000 non-null   object
 5   status       8000 non-null   object
 6   uid          8000 non-null   object
 7   update_time  8000 non-null   int64
 8   used         8000 non-null   int64
 9   datetime     8000 non-null   datetime64[ns]
 10  date         8000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(7)
memory usage: 687.6+ KB

## 정규표현식 사용

### name 컬럼에서 사이즈 데이터 추출

In [14]:
import re
size = []
# df index 범위만큼 for문 돌림 #
for i in range(0, len(dunk_df)):
    size.append(re.sub(r'[^0-9]','',dunk_df['name'].values[i]))

dunk_df["size"] = pd.DataFrame(size)

In [15]:
dunk_df

,location,name,num_faved,pid,price,status,uid,update_time,used,datetime,date,size
0,서울특별시 강남구 대치2동,[260] 나이키 덩크로우 프로 메이플 레전드,4,164228023,130000,0,4766632,1638273330,1,2021-11-30 20:55:30,2021-11-30,260
1,서울특별시 강남구 대치2동,[270] 나이키 덩크로우 PRM 아트모스 비스트 팩,1,164230344,450000,0,4766632,1638273331,1,2021-11-30 20:55:31,2021-11-30,270
2,서울특별시 관악구 신림동,"265,270)나이키 덩크로우 emb nets 넷츠 판매합니다",1,170153073,260000,0,993604,1638273237,2,2021-11-30 20:53:57,2021-11-30,265270
3,서울특별시 관악구 신림동,"280,290)나이키 덩크로우 지브라 블랙 화이트 판매합니다",2,156388904,280000,0,993604,1638273188,2,2021-11-30 20:53:08,2021-11-30,280290
4,서울특별시 관악구 서림동,w255)나이키 우먼스 덩크로우 트리플 화이트 판매합니다,5,170259472,130000,0,993604,1638273213,2,2021-11-30 20:53:33,2021-11-30,255
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,인천광역시 남구 주안6동,나이키 덩크 로우 그레이(265),3,163622521,200000,3,3392003,1631697059,1,2021-09-15 18:10:59,2021-09-15,265
7996,,나이키 덩크 로우 넥스트 네이처 네이쳐 세일 235 우먼스 정품 새상품,0,164363557,160000,3,661546,1632116833,2,2021-09-20 14:47:13,2021-09-20,235
7997,부산광역시 사하구 괴정제3동,나이키 덩크 로우 레트로 바시티 그린 운동화 285,0,164192858,346000,3,2658980,1631335697,2,2021-09-11 13:48:17,2021-09-11,285
7998,대구광역시 중구 삼덕동,나이키 우먼즈 덩크 로우 세일 230 사이즈 판매합니다.,9,162339980,200000,3,2529491,1632407073,2,2021-09-23 23:24:33,2021-09-23,230
7999,,나이키덩크 범고래240,3,162885707,310000,3,75470360,1631158606,1,2021-09-09 12:36:46,2021-09-09,240

In [16]:
b_df = dunk_df[dunk_df["name"].str.contains("범고래")]
b_df

,location,name,num_faved,pid,price,status,uid,update_time,used,datetime,date,size
6,,[280] 나이키 덩크로우 범고래,0,171525510,310000,0,12499314,1638272412,1,2021-11-30 20:40:12,2021-11-30,280
8,서울특별시 은평구 갈현제2동,나이키 덩크로우 범고래 260,0,171524319,250000,0,76126980,1638271794,1,2021-11-30 20:29:54,2021-11-30,260
11,,나이키 덩크로우 범고래 240 [DD1503-101],0,171523932,320000,0,78065849,1638271589,2,2021-11-30 20:26:29,2021-11-30,2401503101
13,서울특별시 영등포구 영등포본동,[260] 나이키 덩크로우 범고래,0,171197345,320000,0,74835183,1638271516,2,2021-11-30 20:25:16,2021-11-30,260
14,인천광역시 옹진군 백령면,[270] 나이키 덩크로우 범고래 나코탭 택,0,171516909,310000,0,4550702,1638270825,2,2021-11-30 20:13:45,2021-11-30,270
...,...,...,...,...,...,...,...,...,...,...,...,...
7975,경기도 부천시 송내1동,나이키 덩크 로우 레트로 블랙 범고래 검흰 250,2,164141978,240000,3,2660298,1631269964,1,2021-09-10 19:32:44,2021-09-10,250
7979,경기도 김포시 구래동,[W240] 나이키 덩크 로우 범고래,17,161785680,420000,3,8983350,1631628122,2,2021-09-14 23:02:02,2021-09-14,240
7981,서울특별시 성동구 성수1가제1동,[255] 나이키 덩크 로우 범고래 중고,0,163846728,220000,3,3958522,1631099580,1,2021-09-08 20:13:00,2021-09-08,255
7988,인천광역시 중구 동인천동,나이키 덩크 로우 범고래 w245,3,159339555,330000,3,450801,1630489063,1,2021-09-01 18:37:43,2021-09-01,245
7999,,나이키덩크 범고래240,3,162885707,310000,3,75470360,1631158606,1,2021-09-09 12:36:46,2021-09-09,240

In [17]:
b_df["product_name"] = "나이키 덩크로우 범고래(검흰)"

In [18]:
b_df["product_name"]

6       나이키 덩크로우 범고래(검흰)
8       나이키 덩크로우 범고래(검흰)
11      나이키 덩크로우 범고래(검흰)
13      나이키 덩크로우 범고래(검흰)
14      나이키 덩크로우 범고래(검흰)
              ...
7975    나이키 덩크로우 범고래(검흰)
7979    나이키 덩크로우 범고래(검흰)
7981    나이키 덩크로우 범고래(검흰)
7988    나이키 덩크로우 범고래(검흰)
7999    나이키 덩크로우 범고래(검흰)
Name: product_name, Length: 2208, dtype: object

In [19]:
b_df["size"].value_counts()

              220
240           217
270           206
260           175
265           165
             ...
2351            1
225235          1
2354552406      1
1391100285      1
2102            1
Name: size, Length: 127, dtype: int64

In [20]:
def size (x):
    return x[0:3]

In [21]:
b_df["size_"] = b_df["size"].apply(size)

In [22]:
b_df["size_"].unique()

array(['280', '260', '240', '270', '', '290', '220', '255', '285', '139',
       '265', '235', '230', '245', '275', '250', '300', '225', '130',
       '160', '205', '140', '159', '180', '915', '165', '210', '190', '1',
       '120', '292', '35', '126', '150', '125', '215', '117', '312', '6',
       '200', '452', '295', '127', '183', '929'], dtype=object)

In [23]:
b_df["size_"] = b_df["size_"].replace( ''  , 0)

In [24]:
b_df["size"] = b_df["size_"].astype(int)

In [25]:
b_df1 = b_df.drop(["name", "size_"],axis = 1)
b_df1

,location,num_faved,pid,price,status,uid,update_time,used,datetime,date,size,product_name
6,,0,171525510,310000,0,12499314,1638272412,1,2021-11-30 20:40:12,2021-11-30,280,나이키 덩크로우 범고래(검흰)
8,서울특별시 은평구 갈현제2동,0,171524319,250000,0,76126980,1638271794,1,2021-11-30 20:29:54,2021-11-30,260,나이키 덩크로우 범고래(검흰)
11,,0,171523932,320000,0,78065849,1638271589,2,2021-11-30 20:26:29,2021-11-30,240,나이키 덩크로우 범고래(검흰)
13,서울특별시 영등포구 영등포본동,0,171197345,320000,0,74835183,1638271516,2,2021-11-30 20:25:16,2021-11-30,260,나이키 덩크로우 범고래(검흰)
14,인천광역시 옹진군 백령면,0,171516909,310000,0,4550702,1638270825,2,2021-11-30 20:13:45,2021-11-30,270,나이키 덩크로우 범고래(검흰)
...,...,...,...,...,...,...,...,...,...,...,...,...
7975,경기도 부천시 송내1동,2,164141978,240000,3,2660298,1631269964,1,2021-09-10 19:32:44,2021-09-10,250,나이키 덩크로우 범고래(검흰)
7979,경기도 김포시 구래동,17,161785680,420000,3,8983350,1631628122,2,2021-09-14 23:02:02,2021-09-14,240,나이키 덩크로우 범고래(검흰)
7981,서울특별시 성동구 성수1가제1동,0,163846728,220000,3,3958522,1631099580,1,2021-09-08 20:13:00,2021-09-08,255,나이키 덩크로우 범고래(검흰)
7988,인천광역시 중구 동인천동,3,159339555,330000,3,450801,1630489063,1,2021-09-01 18:37:43,2021-09-01,245,나이키 덩크로우 범고래(검흰)
7999,,3,162885707,310000,3,75470360,1631158606,1,2021-09-09 12:36:46,2021-09-09,240,나이키 덩크로우 범고래(검흰)

In [26]:
b_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2208 entries, 6 to 7999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      2208 non-null   object
 1   num_faved     2208 non-null   object
 2   pid           2208 non-null   object
 3   price         2208 non-null   object
 4   status        2208 non-null   object
 5   uid           2208 non-null   object
 6   update_time   2208 non-null   int64
 7   used          2208 non-null   int64
 8   datetime      2208 non-null   datetime64[ns]
 9   date          2208 non-null   datetime64[ns]
 10  size          2208 non-null   int32
 11  product_name  2208 non-null   object
dtypes: datetime64[ns](2), int32(1), int64(2), object(7)
memory usage: 215.6+ KB

In [27]:
bd_df1 = b_df1[(b_df1["size"] >= 150) & (b_df1["size"] <= 300 )]

In [28]:
bd_df1

,location,num_faved,pid,price,status,uid,update_time,used,datetime,date,size,product_name
6,,0,171525510,310000,0,12499314,1638272412,1,2021-11-30 20:40:12,2021-11-30,280,나이키 덩크로우 범고래(검흰)
8,서울특별시 은평구 갈현제2동,0,171524319,250000,0,76126980,1638271794,1,2021-11-30 20:29:54,2021-11-30,260,나이키 덩크로우 범고래(검흰)
11,,0,171523932,320000,0,78065849,1638271589,2,2021-11-30 20:26:29,2021-11-30,240,나이키 덩크로우 범고래(검흰)
13,서울특별시 영등포구 영등포본동,0,171197345,320000,0,74835183,1638271516,2,2021-11-30 20:25:16,2021-11-30,260,나이키 덩크로우 범고래(검흰)
14,인천광역시 옹진군 백령면,0,171516909,310000,0,4550702,1638270825,2,2021-11-30 20:13:45,2021-11-30,270,나이키 덩크로우 범고래(검흰)
...,...,...,...,...,...,...,...,...,...,...,...,...
7975,경기도 부천시 송내1동,2,164141978,240000,3,2660298,1631269964,1,2021-09-10 19:32:44,2021-09-10,250,나이키 덩크로우 범고래(검흰)
7979,경기도 김포시 구래동,17,161785680,420000,3,8983350,1631628122,2,2021-09-14 23:02:02,2021-09-14,240,나이키 덩크로우 범고래(검흰)
7981,서울특별시 성동구 성수1가제1동,0,163846728,220000,3,3958522,1631099580,1,2021-09-08 20:13:00,2021-09-08,255,나이키 덩크로우 범고래(검흰)
7988,인천광역시 중구 동인천동,3,159339555,330000,3,450801,1630489063,1,2021-09-01 18:37:43,2021-09-01,245,나이키 덩크로우 범고래(검흰)
7999,,3,162885707,310000,3,75470360,1631158606,1,2021-09-09 12:36:46,2021-09-09,240,나이키 덩크로우 범고래(검흰)

In [29]:
bd_df1.set_index("date").sort_index()

,location,num_faved,pid,price,status,uid,update_time,used,datetime,size,product_name
date,,,,,,,,,,,
2021-01-06,부산광역시 강서구 명지1동,3,142576215,400000,0,74940267,1609903505,2,2021-01-06 12:25:05,265,나이키 덩크로우 범고래(검흰)
2021-01-07,인천광역시 부평구 부평5동,0,142587617,418000,0,4760795,1609986595,13,2021-01-07 11:29:55,255,나이키 덩크로우 범고래(검흰)
2021-01-08,경기도 수원시 영통구 광교1동,9,142721100,330000,1,75004855,1610084501,2,2021-01-08 14:41:41,235,나이키 덩크로우 범고래(검흰)
2021-01-10,서울특별시 노원구 중계2.3동,5,143007681,111,3,7760227,1610288818,2,2021-01-10 23:26:58,275,나이키 덩크로우 범고래(검흰)
2021-01-15,경기도 수원시 영통구 원천동,0,142494196,400000,0,10126750,1610652381,13,2021-01-15 04:26:21,265,나이키 덩크로우 범고래(검흰)
...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,경기도 부천시 송내2동,0,171519375,300000,0,7968035,1638269230,1,2021-11-30 19:47:10,240,나이키 덩크로우 범고래(검흰)
2021-11-30,부산광역시 부산진구 전포제2동,0,169951139,300000,0,2529491,1638199804,2,2021-11-30 00:30:04,250,나이키 덩크로우 범고래(검흰)
2021-11-30,부산광역시 부산진구 전포제2동,3,169781370,300000,0,2529491,1638199804,2,2021-11-30 00:30:04,245,나이키 덩크로우 범고래(검흰)
2021-11-30,서울특별시 영등포구 영등포동,2,170007122,340000,0,5160611,1638200181,2,2021-11-30 00:36:21,265,나이키 덩크로우 범고래(검흰)
2021-11-30,,0,171525510,310000,0,12499314,1638272412,1,2021-11-30 20:40:12,280,나이키 덩크로우 범고래(검흰)

In [30]:
bd_df1["price"] = bd_df1["price"].astype(int)

In [31]:
b_df = bd_df1[(bd_df1["price"] >=150000) & (bd_df1["price"] <=600000)]
b_df.set_index('date').sort_index()

,location,num_faved,pid,price,status,uid,update_time,used,datetime,size,product_name
date,,,,,,,,,,,
2021-01-06,부산광역시 강서구 명지1동,3,142576215,400000,0,74940267,1609903505,2,2021-01-06 12:25:05,265,나이키 덩크로우 범고래(검흰)
2021-01-07,인천광역시 부평구 부평5동,0,142587617,418000,0,4760795,1609986595,13,2021-01-07 11:29:55,255,나이키 덩크로우 범고래(검흰)
2021-01-08,경기도 수원시 영통구 광교1동,9,142721100,330000,1,75004855,1610084501,2,2021-01-08 14:41:41,235,나이키 덩크로우 범고래(검흰)
2021-01-15,경상북도 구미시 신평2동,0,142395242,400000,0,4700231,1610703017,2,2021-01-15 18:30:17,275,나이키 덩크로우 범고래(검흰)
2021-01-15,경기도 수원시 영통구 원천동,0,142494196,400000,0,10126750,1610652381,13,2021-01-15 04:26:21,265,나이키 덩크로우 범고래(검흰)
...,...,...,...,...,...,...,...,...,...,...,...
2021-11-30,부산광역시 남구 용호제1동,11,171431411,220000,0,2330709,1638252967,1,2021-11-30 15:16:07,280,나이키 덩크로우 범고래(검흰)
2021-11-30,,8,171086786,235000,0,2531578,1638265283,1,2021-11-30 18:41:23,270,나이키 덩크로우 범고래(검흰)
2021-11-30,대전광역시 동구 효동,1,171403736,275000,0,2785437,1638259529,1,2021-11-30 17:05:29,250,나이키 덩크로우 범고래(검흰)
2021-11-30,,5,169535261,290000,0,1414153,1638257810,2,2021-11-30 16:36:50,245,나이키 덩크로우 범고래(검흰)
2021-11-30,,0,171525510,310000,0,12499314,1638272412,1,2021-11-30 20:40:12,280,나이키 덩크로우 범고래(검흰)

In [32]:
b_df["location"]= b_df["location"].fillna('NULL')

In [33]:
def first_split(x):
    first = x.find(' ')
    return x[:first]

def second_split(x):
    first = x.find(' ')
    second = x.find(' ', first+1)
    return x[first+1:second]

def third_split(x):
    first = x.find(' ')
    second = x.find(' ', first+1)
    third = x.find(' ', second+1)
    return x[second+1:]

In [34]:
b_df["city"] = b_df["location"].apply(first_split)

In [35]:
b_df = b_df.set_index('date').sort_index(inplace   = True)

### name 컬럼에서 숫자 제거

> re.sub(pattern, replace, string)은string을 입력으로 취하고pattern문자열 (정규 표현식으로 설명 됨)의 겹치지 않는 항목을replace값으로 대체하여 문자열을 리턴

> 숫자에 대한 정규식은[0-9]+입니다. re.sub()메소드를 사용하여 입력string에서 숫자를 제거하려면pattern인수로''를replace로 전달하기 만하면됩니다.

In [36]:
import re
names = []

for i in range(0, len(dunk_df)):
    names.append(re.sub(r'[0-9]+', '',dunk_df['name'].values[i]))

dunk_df["name"] = pd.DataFrame(names)

### 특정 문자열 추출  가능한데 종류가 다양..

In [37]:
set(dunk_df["name"])

{'나이키 범고래 덩크로우  판매해요',
 '덩크로우 레트로 프리미엄 치타 ',
 '() 나이키 x NBA 덩크로우 레트로 EMB네츠 ',
 '나이키 덩크 유니버스티  블루 size ',
 '나이키 덩크로우 레트로  범고래',
 '나이키 덩크로우 넥스트 네이쳐 세일 (,  사이즈)',
 '() 나이키 유니버시티 레드 sp 덩크로우 판매합니다',
 '나이키 덩크로우 범고래 사요',
 '덩크 로우 범고래 구매대행',
 '[GS ]덩크로우 유니버시티블루 ',
 '나이키x오프화이트 덩크로우  사이즈 팝니다',
 '[]나이키 덩크로우 넥스트 네이쳐 세일',
 '[] 나이키 x 오프화이트 덩크 로우 더  로트 ',
 '나이키 호피패턴 덩크로우 ',
 '[]덩크로우 콩코드 ',
 '나이키 덩크 GS 유니버시티블루  Y.W',
 '나이키  SB 덩크로우 LT BASE 그레이 블랙 ',
 '()나이키 덩크로우 덩크바이유 dunk by you',
 '[] 나이키 덩크로우sb 코트퍼플',
 '[] 나이키 덩크 하이 범고래 새상품',
 '나이키 덩크로우 로날도 슈프림 ',
 '[] 나이키 덩크로우 아키오 핑크',
 '덩크로우 코스트  새상품',
 '나이키 덩크로우 챔피언십그레이 ',
 '덩크로우 바시티메이즈 ',
 '나이키 덩크로우 서울 SE -  스페셜기프트세트',
 '나이키 덩크 로우 라이트 본 w',
 '[] 나이키 덩크로우 미디움그레이',
 '박스 풀구성 당크로우 그린글로우 ',
 '나이키 레트로 덩크로우 챔피언쉽 골든로우',
 '[] 나이키 덩크 로우 삼바 ',
 '나이키 덩크 로우 미디움그레이 사이즈 급처합니다',
 '덩크로우 회빨 판매합니다',
 '나이키 덩크로우 미디엄 그레이 ',
 '나이키 덩크로우 코스트 mm',
 '(월만 이 가격)나이키 덩크 로우 범고래  ',
 '[새상품] 나이키 덩크로우 레트로 블랙 범고래 ()',
 '나이키 덩크로우 카모 새상품',
 '나이키 파라덩크',
 '[] 나이키 덩크로우 세라믹',
 '나이키 SB 덩크로우 PRO 브라이언 앤더슨 카모',
 '나이키 덩크 프리 ',
 '[] 나이키 덩크로우 라이트본W',
 'w 나이키 덩크로우 오렌지펄 ',
 '나이키 덩크로우 레트로 범고래  새거 팝니다',
 '나이키 카시나 덩크 블루버스 ',
 '나이키 덩크로우  크로커다일 브라운 ',
 '나이키 갸쿠소우 줌X 베이퍼플라이 넥스트% 언더커버 미드나잇 스프루스',
 '나이키 SB 덩크 로우 프리미엄 햄프',
 '할로윈 덩크로우 프리미엄 에디션',
 '나이키 덩크 로우 아키오 핑크 mm',
 '나이키 덩크 로우 유니버시티 블루 (GS)',
 '나이키 덩크로우 SP 베니어 ',
 '급처) 나이키 덩크 로우 범고래  사이즈 덩크로우',
 '나이키 덩크 로우 - 삽니다',
 '덩크로우 챔피언쉽 골든로드 사이즈 새상품',
 '[W] 나이키 덩크로우 우먼스 트리플 화이트',
 '() 나이키 덩크로우 골든로드',
 '치타덩크 기린덩크 나이키덩크 덩크로우',
 '(XS~XL) 색상 스투시 페인터 반팔 블루,핑크,노랑 정품 구매대행',
 '나이키 덩크로우 범고래 GS  .y',
 '[국내 매장판] 나이키 덩크 로우 넥스트 네이쳐 (DD-)',
 '나이키 덩크로우 디스럽트 사이렌레드 ',
 '[] 새상품 오프화이트 x 나이키 덩크 로우 더 로트 ',
 '()새상품 나이키 덩크로우 챔피언쉽그레이',
 '나이키 덩크로우 W우먼스 블랙 ',
 '나이키 컬리지네이비 덩크로우(W)',
 '()나이키 덩크로우 골든로드',
 '나이키 덩크로우 서울 SE -  스페셜 기프트 세트',
 '나이키 덩크로우 펄 화이트',
 '나이키 페인팅 후드티',
 '나이키 덩크로우  빨리 넘겨요~',
 '나이키덩크로우 레트로 그레이 ',
 '나이키 오프화이트 덩크로우',
 '[] 나이키 덩크 로우 범고래 (극미중고)',
 '[]나이키 sb 덩크 바르셀로나',
 '덩크로우 서울  사이즈  팝니다 (새상품)',
 '덩크로우 새상품  나이키 덩크 로우 베얼리 ',
 '나이키 SB 스트레인지러브 덩크 strangelove dunk ',
 '나이키 덩크로우 챔피언쉽 그레이 mm',
 '[w] 나이키 덩크 로우 라이트본 우먼즈',
 '나이키 (GS)덩크로우 시카고  새상품',
 '나이키 덩크로우 우먼스 범고래  ',
 ' 나이키 덩크로우 es 더스티 올리브  올리브  ',
 '[] 나이키 SB 덩크 로우 아일랜드 그린 검',
 '나이키 덩크로우 라이트본  ',
 '() 나이키 덩크 로우 미디엄 그레이',
 '미개봉새상품)나이키 덩크로우 ',
 '나이키 덩크로우 미디엄그레이  팝니다',
 '나이키 덩크로우 미스매치 PS  나코탭 새상품',
 '나이키덩크로우se프리닷화이트새상품',
 '나이키 덩크 로우 레트로 하이퍼 코발트 블루',
 '덩크로우 서울',
 '나이키 범고래  판매합니다.',
 '나이키 덩크 시티마켓',
 '[] 나이키 덩크 로우 범고래',
 '덩크 로우 버건디(w) 구매대행',
 '나이키 조던 덩크로우 커리 ',
 '나이키 덩크로우 트블 스웨이드 레어 운동화',
 '조던 울프 그레이 나이키 범고래 교환 ',
 '(mm)나이키 덩크로우 라이트본 ',
 '(W)새상품 나이키덩크로우범고래',
 '나이키덩크로우 핑크피그 ',
 '나이키 덩크로우 범고래 mm 미개봉 새상품',
 '나이키 덩크 로우 그린 글로우  새상품',
 '[~] 나이키 덩크로우 라이트본 크림택 달림 새상품 ',
 '덩크로우 범고래 []',
 '나이키 덩크로우 바시티 (팀) 그린  새상품',
 '나이키 덩크로우 하이퍼 코발트  나코텝 미시착 새상품',
 '나이키 덩크로우 W 범고래 ',
 '[] 나이키 sb 덩크로우 프로 클래식 그린',
 '나이키 덩크로우 라이트본 w  판매합니다.',
 '[w] 나이키 우먼스 덩크 로우 Green glow 그린 글로우',
 '나이키 덩크 로우 황금 사이즈 mm 돌고래',
 '나이키 sb 덩크 로우 스트리트 호커(CNY)',
 '(새상품) 나이키 덩크로우 범고래 gs  팝니다',
 '덩크로우',
 '덩크로우se ',
 '[w] 나이키 덩크로우 라이트본',
 '나이키 덩크로우 딥스럽 트',
 '나이키 범고래 (gs)',
 '덩크로우 id',
 '()나이키 덩크 로우 골든로드',
 '나이키 덩크로우 블랙(GS)',
 '[]바이슨맛 올드 덩크로우',
 '나이키 덩크로우 SE 서울 사이즈 (US .) 새상품 팝니다~',
 '[구매]전사이즈 나이키 덩크로우 시티마켓',
 '나이키 덩크로우 라이트본 우먼스 ',
 '특가 나이키 덩크로우 범고래 ',
 '덩크로우 레트로  팝니다',
 '나이키 x 오프화이트 덩크 로우 더  - 로트  ()',
 '나이키 덩크로우 바시티 미시건',
 ' 나이키 덩크로우 커뮤니티가든 새상품급',
 '나이키 덩크로우 범고래 GS',
 '나이키 덩크로우 프리se GS 판매',
 '시카고 덩크로우 EMB / ',
 'Nike x Social Status Dunk Low',
 '나이키 덩크 유니버시티레드',
 '나이키 덩크로우, 조던 로우 구매함',
 '나이키 덩크 로우 블랙 범고래',
 '나이키 우먼스 덩크 로우 범고래  팝니다',
 '[]나이키 덩크로우 라이트소프트핑크',
 '나이키 오프 화이트 덩크 lot',
 '나이키(W) 조던 미드 울프그레이 ',
 'nike 덩크로우 시카고 gs',
 '나이키 덩크로우 옐로우 스트라이크 ',
 '[] 나이키 오프화이트 러버덩크',
 ' 나이키 덩크sb 바르셀로나',
 '[]나이키 덩크로우 챔피언쉽레드',
 '나이키 덩크로우 범고래 ps',
 '덩크로우 유니버시티블루  팝니다 풀박스 크림구매',
 '나이키 서울 ',
 '나이키 덩크 로우 sp 베니어',
 '나이키 덩크로우 유니버시티 ',
 "[]나이키X카시나 덩크로우 'S 버스",
 '[GS ] 나이키 덩크 로우 시카고 ',
 '카시나 덩크 (kasina)  급처',
 '나이키 덩크로우 범고래gs미리',
 '[] 나이키 덩크 로우 코스트 unc블루',
 '(XS~XXL) NIKE MADE IN USA SWOOSH 맨투맨 ',
 '맥커스 반폴라 반팔 맨투맨 니트 나이키 덩크로우 조던 아디다스 뉴발란스',
 '나이키 덩크로우 범고래 우먼 팔아요',
 '나이키 덩크로우 레트로챔피언쉽 ',
 '나이키 덩크로우 범고래 w 우먼스 ',
 '나이키 덩크 골든로드  판매',
 '[해외배송] 나이키 우먼스 덩크 로우 레이저 오렌지',
 '덩크로우 클래식 ',
 '나이키 덩크로우 우먼스 범고래 사이즈',
 '[w] 나이키 덩크로우 범고래',
 '[] 나이키 덩크로우 SE 플립(Filp)',
 '[]범고래W 나이키 덩크로우 새제품',
 ' 나이키 덩크로우 아키오 핑크 ',
 '[정품]나이키 덩크 범고래 (화이트/블랙)  팝니다!',
 '[] 나이키 덩크로우 범고래 맛',
 '나이키 sb 덩크로우 셀라돈',
 '나이키 덩크로우 PS size',
 '급쳐)나이키 덩크로우 범고래',
 '나이키 덩크하이 올스타',
 '(새상품)에어조던 로우 OG Ghost green/',
 '나이키 덩크로우 미시건 size',
 '나이키x오프화이트 덩크 로우 사이즈',
 ' 나이키 덩크로우 그레이',
 '() 나이키 범고래 덩크로우 ',
 '나이키 덩크로우 레트로 범고래 ',
 '정품)나이키 덩크로우 범고래  새상품',
 '블프세일)[]나이키 SB덩크로우 스트레인지러브',
 '[] 나이키 덩크로우 바시티 그린',
 '[]나이키 덩크 로우 라이트 본',
 '나이키 덩크로우 지브라 ',
 '[]나이키 덩크로우 라이트 소프트 핑크',
 '[]나이키 X 오프화이트 덩크로우 lot ',
 '나이키 덩크 사이다 cider',
 '나이키 덩크로우 골든로드  공홈당첨',
 '[]나이키 덩크로우 SE 카모 ',
 '나이키 덩크로우 레트로 챔피언쉽레드 ',
 '[W] 나이키 덩크 로우 디스럽트 흰검 - 솔드아웃 정품인증',
 '[]나이키 덩크로우 바시티메이즈',
 '나이키 덩크로우 범고래  (크림검수택 있음)',
 '나이키xSB 파라 덩크로우 프로 앱스트랙트 아트(신품) mm',
 '!당일발송! [] 나이키 우먼즈 덩크로우 범고래 새상품',
 '나이키 덩크 로우 바시티메이즈 size 판매',
 '[,,] 나이키 덩크로우 챔피언쉽 레드',
 '[]나이키 덩크로우 NBA 넷츠 팝니다 ',
 'GS ) 나이키 범고래',
 '나이키 덩크로우 바시티 그린 ',
 '덩크로우 포톤더스트 w',
 '[] 범고래 덩크 하이 업',
 '나이키 X 션클리버 SB 덩크로우 홀리데이 스폐셜 ',
 '()나이키 덩크로우 sp 커뮤니티가든 ',
 '[판매중] 나이키 덩크 로우 골든로드 ',
 '나이키 덩크로우 컬리지 네이비 w',
 ' 나이키 덩크로우 치타',
 '() 덩크로우 라이트본',
 '(초특가)나이키 덩크 하이 캐시미어  (새상품)  가격 추가 할인',
 '나이키 덩크로우 sb 퍼프앤스터프',
 '나이키 덩크로우sp 커뮤니티가든()',
 '[W] 나이키 우먼스 덩크 로우 범고래 새상품',
 '나이키 오프화이트  lot',
 '나이키 덩크로우 옐로우 ',
 '나이키 오프화이트 덩크로우 The Lot  사이즈 판매합니다!',
 ' 덩크로우 넥스트 네이처',
 '정품 나이키 덩크로우맛 한정판 하이탑',
 '나이키 덩크로우 범고래  (교환도 해요)',
 '[] 나이키 덩크로우 NG 골프 화이트블랙그린',
 '나이키 덩크 로우 레트로 프리미엄 ',
 '   나이키 덩크 로우 sp 커뮤니키가든 레몬워시',
 '나이키 범고래 덩크로우 ps  (새상품)',
 '나이키 덩크로우 우먼스 범고래(w)',
 '나이키 SB덩크로우 카모 ',
 '(w)나이키 덩크로우 범고래 팝니다',
 '나이키 덩크 로우 캔디',
 '() 나이키 파라 SB덩크로우 새제품',
 '나이키 덩크로우 포톤 더스트  한번신음',
 '나이키 덩크로우 레트로 골든로드',
 '덩크로우 아키오 w판매합니다',
 '()나이키 범고래 덩크로우 gs',
 '나이키 SB 덩크 하이 HUF 허프 ',
 '[] 나이키 덩크 로우 펄 화이트 판매',
 '나이키 덩크 레트로 챔피언쉽 레드 팝니다.',
 '나이키 조던 코트퍼플 ',
 '()나이키 덩크 로우 범고래',
 '[] 나이키 덩크 로우 캔틴',
 '나이키 덩크로우 범고래 판매합니다 ',
 ')나이키 카시나 덩크 ',
 '[]나이키 덩크로우 삼바',
 '나이키 유니버시티 블루 ',
 '나이키 덩크로우 핑크폼사이즈',
 ' 나이키 X 오프화이트 와플레이서',
 '나이키 덩크로우 퍼플펄스  새상품 크림발',
 '[] 나이키 덩크로우 챔피언쉽 그레이',
 '덩크로우 커뮤니티가든 ',
 'sb덩크로우 퍼플  팝니다',
 '()나이키 덩크 로우 미디움그레이',
 '[] 나이키 덩크로우 플립',
 '나이키X오프화이트 덩크로우 LOT  ()',
 '나이키 플립 ',
 '나이키덩크로우 범고래 사이즈판매',
 ' 나이키 덩크 범고래',
 '[새상품]나이키 덩크 범고래 ',
 '나이키 x 오프화이트 덩크로우 ',
 'dunk low sb atlas mm gray 나이키 덩크로우',
 '나이키 덩크로누 그린 글로우',
 '나이키 덩크로우se 카모 (새상품)',
 ')덩크로우 유니버시티블루 나이키',
 '나이키 덩크 로우 블랙 (범고래)',
 '나이키 덩크로우 GS ',
 '덩크로우 미디엄그레이 사이즈 판매합니다. 실착회',
 '덩크로우 SB 프로 클래식 그린',
 '[]나이키 sb 덩크로우 스트릿호커',
 '(/y)나이키 덩크로우 범고래 팝니다',
 '오프화이트 덩크 번',
 '나이키 덩크로우 DD- 아키오핑크 ',
 '나이키덩크로우 팜 커뮤니티가든 당첨됨',
 '나이키덩크로우 ',
 '오프화이트 덩크로우 흰초  (옵덩,옾덩) 덩크 ',
 '나이키X소셜스테이터스 덩크로우  사이즈 ',
 '나이키 범고래 덩크로우w ',
 '나이키 덩크로우 펄화이트 ',
 '나이키 덩크 하이업 골든로드',
 '(새상품)나이키 덩크로우 라이트본 w',
 '()나이키 덩크로우 레트로 레드',
 '나이키 덩크 오우 퍼플 펄스 ',
 '나이키 덩크로우 포톤더스트 ',
 '덩크로우 레트로 마이다스골드 ',
 '나이키 덩크 로우 SE프리 화이트 ',
 '덩크로우 카모 블랙 ',
 '나이키 덩크로우 앤트러사이트 프루티 페블스',
 '나이키x오프화이트 덩크로우 로트  ',
 '나이키 덩크로우 범고래 맨스 ',
 '나이키 덩크로우 브라질  ',
 '나이키 덩크로우 범고래og ',
 '나이키 덩크로우 멀티카모',
 '[]나이키 덩크로우 레트로 ',
 '나이키 오프화이트 덩크로우 the-lot',
 '()나이키 덩크로우SE 서울',
 '()나이키 덩크로우 바시티메이즈 남노컬러',
 '나이키 덩크로우 레트로 챔피온쉽 mm',
 '나이키 덩크로우 범고래 우먼스 팝니다',
 '나이키 덩크 로우  공홈 당첨!!',
 '[]나이키 덩크로우 더스티올리브',
 '나이키 덩크로우 페일코랄 ',
 ' 나이키 덩크로우 레트로 팝니다 (골든 로드)',
 '나이키 덩크로우 올검  새제품',
 '덩크로우 검흰 범고래 ',
 '나이키 덩크로우 범고래  새상품 판매',
 '덩크로우 트리플 화이트 ',
 '()나이키 덩크로우 플립 mylk ',
 '나이키 덩크로우 시라큐스 ',
 '[]나이키 덩크로우 바시티매이즈',
 '나이키 덩크 로우 시러큐스  사이즈',
 'Nike Dunk low PRM Halloween  새상품 팝니다',
 '()나이키 덩크로우 골든로드 새상품',
 '나이키 덩크로우 코발트 블루',
 '[W] 나이키 덩크로우 라이트본',
 '나이키 덩크 로우 레트로 챔피언쉽 그레이 팝니다',
 '[w]나이키 덩크 로우 우먼스 범고래',
 '나이키 덩크로우 nba 브루클린 네츠 nets  새상품',
 '나이키 덩크로우 회빨 ',
 '나이키 덩크로우 레트로 챔피언쉽 골드로드 ',
 '나이키덩크로우조지타운',
 '나이키 덩크 로우 디스럽트 데저트 샌드 ',
 '크림발 나이키 덩크 범고래 우먼즈  사이즈 판매합니다.',
 '나이키 정품 덩크로우 유니버시티 블루',
 '[] 나이키 NBA 덩크 로우 EMB Nets(넷츠)',
 '나이키 덩크로우 베니어 ',
 '나이키 덩크 로우 X NBA 주년 스퍼스 GS mm/US Y',
 '나이키 덩크 로우 범고래  나코 팝니다',
 '[] 나이키 덩크로우 NBA NETS',
 '[] 나이키 덩크로우 미디엄 그레이',
 '나이키 X 오프화이트 덩크로우 유니버시티레드 size 새상품',
 ') 나이키 덩크로우 gs 새제품',
 '나이키 조던 씨폼 w',
 '나이키덩크로우레트로 새상품',
 '() 나이키 덩크로우 범고래',
 '나이키 덩크로우 x nba / (가격인하)',
 '나이키 덩크로우 유니버시티 블루  팝니다!!',
 '[] 나이키 조던 로우 블랙토',
 '나이키 덩크로우 미시건 바시티메이즈',
 '나이키 덩크로우 챔피온십 레드',
 '범고래 덩크 로우 ',
 '나이키w 덩크로우 트리플화이트 ',
 '나이키슈프림덩크로우sb',
 '나이키 덩크로우 W(우먼) 범고래 판매합니다.',
 '[w] 나이키 덩크로우 레트로 범고래 ',
 '나이키 덩크로우 그린글로우 ',
 '나이키 덩크로우 범고래GS ',
 '나이키 덩크로우 프로 코트퍼플  팝니다',
 '[새상품] 나이키 덩크로우 멀티 카모  사이즈 판매합니다',
 '[] 나이키 덩크로우 범고래 GS',
 '() 나이키 X 오프화이트 덩크 로우 로트 ',
 '나이키 덩크로우 레트로 챔피언쉽 골든로드',
 '나이키 덩크로우 범고래  DD- ',
 '가격 내렸어요ㅠㅠ 나이키 오프화이트 덩크로우 번 size',
 '나이키  덩크로우 카키 ',
 '() 나이키 범고래 덩크로우 우먼스 새제품 판매',
 '나이키 NBA 덩크 로우 레트로 EMB NETS ',
 '나이키 덩크로우 바시티그린  ',
 '나이키 덩크 로우 범고래 []',
 '(GS) 나이키 덩크 로우 범고래',
 '나이키 꼼데가르송 덩크로우 콜라보',
 '나이키 덩크 로우 범고래 (GS)',
 '새상품 , 나이키 덩크로우 트리플 화이트',
 '나이키 덩크로우 엘로우스트라이크 ',
 '나이키 덩크로우 블랙 우먼스 범고래  ',
 '나이키덩크로우SE',
 '[GS  .Y.   Y   Y] 나이키 덩크로우 범고래',
 '나이키 덩크로우 레드',
 '() 나이키 덩크로우 바시티그린',
 '나이키 클래식sb 제레미 ',
 '나이키덩크로우 범고래 맨즈',
 '나이키 덩크로우 SE',
 '나이키 덩크 서울  ',
 '$구매글$ 나이키 덩크로우 범고래  새상품',
 '나이키 덩크로우 레트로빨강 ',
 '나이키 덩크 로우  포톤 더스트 ()',
 '나이키 덩크로우 나코탭 새상품 ',
 'W 나이키 덩크로우 SE 레오파드 화이트 ',
 '()나이키 덩크로우 켄터키 팝니다',
 '나이키덩크로우 라이트본W',
 '나이키 덩크로우 범고래 팝니다 필독!',
 '() 덩크로우 레트로 검노 판매',
 ',,,) w 나이키 덩크로우 트리플 화이트',
 '[] 카시나 덩크로우 블루 버스',
 'nike dunk low retro black ',
 '중고 올드 덩크로우  나이키 sb',
 '나이키 덩크로우 챔피언쉽그레이 ',
 '나이키 덩크 디스럽트 w',
 '()나이키 덩크로우 레트로 바시티 그린 ',
 '나이키 덩크로우 미디움그레이 ',
 '나이키 골든로드  새상품',
 '나이키 덩크로우 se 멀티카모',
 '나이키 덩크로우 바시티그린(mm)',
 '나이키 덩크로우 코스트 사이즈',
 '[]나이키 덩크 로우 레트로 챔피언쉽 골든로드',
 '나이키 덩크 로우 코스트 w - 남자 ',
 '[] 나이키 덩크로우 유니버시티블루',
 '[]나이키 덩크로우 미디엄그레이 사이즈 새상품팝니다',
 '미착용 나이키 SB 덩크 로우 프로 클래식 그린  사이즈 팝니다.',
 '나이키 범고래   새상품 사이즈교환',
 '[]나이키xNBA bunk low EMB 시카고 덩크 ',
 '[] 나이키 덩크 오프화이트 Lot',
 '나이키 슈프림 SB덩크로우',
 '[]나이키 덩크로우 코스트',
 '나이키 덩크로우 범고래 TD  사이즈',
 '나이키 카시나 덩크로우 블루 ()',
 ' 새재품 나이키 덩크로우 펄 화이트',
 '나이키 덩크 하이 프로 바시티 메이즈',
 '나이키 덩크로우 바시티 메이즈 (ps)   ',
 '당근덩크 나이키 덩크로우 세라믹 당근덩크 사이즈',
 '덩크로우 범고래 (gs) ',
 '나이키 덩크로우 범고래 size ',
 '나이키 덩크로우 바시티메이즈()',
 '(새상품) 나이키 에어포스 아콘 ',
 '나이키 덩크 로우 NBA (/ .Y',
 '[]나이키 우먼스 덩크로우 범고래',
 '나이키 덩크 SB 로우 클래식 그린 ()',
 '나이키 덩크 범고래 사이즈',
 '나이키 덩크 로우  ( 프리 화이트 )',
 '[]나이키 덩크로우 레트로 골든로드',
 '나이키 오프화이트X덩크로우 / ',
 '(정품) NIKE 나이키 덩크 로우 GS 뷰티(-)',
 '[] 디스퀘어드 여성용 스니커즈',
 '나이키 오프화이트 덩크로우 /',
 '나이키 덩크로우se 서울 스페셜 기프트 에디션 ',
 '나이키 덩크로우 레트로 범고래 맨즈 ',
 '[미개봉/정품/] 나이키 SB 덩크로우 Pro 머미',
 ' 커뮤니티가든 ',
 '나이키 덩크로우 (gs) ',
 '[]나이키 덩크로우 챔피언쉽 레드',
 '나이키 덩크로우 챔피언쉽그레이',
 '나이키 덩크 로우 토들러 ',
 '나이키SE덩크로우 멀티카모',
 '나이키 덩크 로우 GS 바시티 메이즈 ',
 '[]나이키 덩크로우 라이트본',
 '나이키 덩크로우 레트로 범고래 ()판매',
 '나이키 덩크하이SB 홈그라운드 ',
 '[] 나이키 X 스트레인지러브 SB 덩크로우 핑크',
 '나이키 범고래  중고',
 '나이키 조던 울프 그레이 미드 ',
 '[ ]나이키 덩크로우 챔피언쉽 골든로드',
 '나이키 덩크로우 seoul 사이즈',
 '(w)나이키 덩크로우 범고래 판매합니다',
 '[] 나이키 SB 덩크로우 프로 클래식 그린',
 '나이키 덩크로우 검흰 사이즈',
 '나이키 덩크서울 ',
 '(,새상품)나이키 덩크 로우 SE 서울',
 '[새상품]나이키 범고래 (gs) ',
 '나이키 덩크 로우 범고래 GS W  미시착 새제품',
 '나이키 덩크로우SP',
 '나이키 덩크 로우 서울  미시착 새상품',
 '나이키 덩크 로우 se 서울 + Special gift',
 '나이키 세라믹 덩크로우 ',
 '나이키 SB 덩크로우 챌린지 레드',
 '나이키 덩크 바시티 그린',
 '나이키 덩크 로우 x언디피티드 ',
 '나이키 덩크 로우 레트로 EMB Nets  팔아요',
 '[] 나이키 덩크로우 넥스트 네이처 세일컬러',
 '나이키 SB 덩크로우 프로 미스틱네이비()',
 '나이키 덩크로우 골든로드  떠리',
 '[] 나이키 덩크로우 사시코 ',
 '()나이키 덩크로우 플럼',
 '나이키코리아제품 M 덩크로우 블락',
 '나이키 덩크로우 맨즈 범고래  팔아요',
 '나이키 덩크 로우 레트로 회빨',
 '덩크로우 레트로 챔피언쉽 그레이  조지타운 ',
 '나이키 덩크로우 범고래  판매합니다 ',
 '나이키 덩크로우 범고래 GS  새상품',
 '나이키x오프화이트 덩크 로우 lot  ',
 '() 나이키 조던 로우 파우더 블루',
 '() 나이키 덩크로우 바시티 그린',
 '나이키 덩크로우 블랙 범고래  미시착 새상품 ',
 ') 나이키 덩크 로우 유니버시티 블루',
 '나이키 덩크로우레트로',
 '베어브릭 덩크로우',
 '()나이키 덩크로우 컬리지 네이비',
 '나이키 덩크로우 네츠',
 '나이키 덩크로우 범고래 /',
 '오프화이트 덩크 로우 ',
 '나이키 오프화이트 덩크로우 번',
 '() 가격내림 새상품 나이키 덩크 로우 레트로',
 '나이키 왓더폴 덩크로우(새상품)',
 '나이키 덩크로우 챔피언쉽 레드  ',
 '나이키 덩크로우 골든로드 사이즈 판매',
 '나이키 덩크로우 레트로 블랙(범고래) 사이즈 팝니다',
 '나이키 덩크로우 챔피언십레드 ',
 '나이키 덩크로우 오프화이트 덩크 . 사이즈',
 'NBA X 나이키 덩크 로우 EMB 브루클린 네츠()',
 '덩크로우 시러큐스',
 '[] 나이키 덩크로우 넥스트 네이처 세일',
 '오프화이트 덩크로우 사이즈 판매합니다',
 '[]나이키 덩크하이 챔피언쉽 네이비',
 '(개봉X)나이키 덩크로우 레트로 블랙 범고래 ',
 '나이키 덩크 로우 아키오 핑크 (W) ',
 '나이키 덩크로우 유니버시티블루 사여',
 '[W]나이키 덩크 로우 범고래',
 '나이키 덩크로우 커뮤니티가든 사이즈 나코탭',
 '덩크로우 레트로 바시티 그린  ',
 '[국내 매장판] 나이키 덩크로우 라임아이스(DD-)',
 ' 나이키 덩크 로우 sp 세라믹 당근덩크',
 '나이키 덩크로우 유니버시티 블루 GS ',
 '덩크로우 챔피언쉽 레드  팝니다',
 '[] 나이키 NBA 덩크 네츠 새상품',
 '나이키 우먼스 덩크 로우 넥스트 네이쳐 페일 코랄',
 '[] 나이키 X 트레비스 스캇 SB 덩크로우',
 '덩크로우 범고래 맨즈 ',
 '() 나이키 덩크로우 아키오핑크',
 '나이키 덩크sb로우 클래식 그린 ',
 '[] 나이키 오프화이트 덩크로우 남노',
 '나이키x오프화이트 덩크로우 lot  사이즈',
 '나이키 덩크로우 켄터키블루',
 '나이키오프화이트 덩크로우 더 ',
 '나이키 덩크로우 서울  나코탭',
 '나이키덩크로우SE서울[]',
 '나이키 덩크 로우 빈티지 ',
 '나이키 덩크로우 유니벌시티 ',
 '나이키 덩크 로우 코스트 ',
 '나이키 덩크로우 사이즈 새상품',
 '구매] 나이키 덩크로우 범고래  . ',
 '나이키 SB 덩크로우 레이저 크림슨 ',
 '[새제품] 나이키 덩크로우 캔디',
 '나이키 덩크 로우 피스 스파이스 오렌지 ',
 '새상품) 나이키 덩크 로우 범고래  우먼즈',
 '나이키 덩크 로우 "Team Green" ',
 '나이키 덩크로우 범고래 우먼스 wmm 새제품  ',
 '(새상품)()나이키 조던 덩크로우 범고래  판매합니다. ',
 '나이키 덩크로우 범고래 w 검흰  ',
 '나이키 덩크로우 SE 서울  ',
 '나이키 덩크 로우 페일 코랄 네이처 ',
 '나이키 덩크로우 디스럽트 게임로얄 w',
 '나이키 덩크로우 바시티 그린 삽니다!',
 '나이키 덩크로우 우먼스 버치 그린빈 ... 새상품',
 '조던 덩크로우 미디엄그레이',
 '()나이키 덩크로우 코스트 새상품',
 '응모 당첨된 나이키 덩크로우 nba 판매합니다',
 '(구입글)나이키 덩크로우 범고래 삽니다 사이즈',
 '나이키 NBA 덩크로우 GS (Y)',
 '[] 나이키 사카이 블레이저 로우 브리티쉬 탄',
 ' 나이키 덩크 미디엄그레이',
 '()나이키 SB덩크 티파니 ',
 '나이키 덩크로우 서울 팔아요 새상품 ',
 '나이키 우먼스 덩크로우() 발렌타인 한정 신발단품판매',
 '[] 나이키 덩크 로우 프리 화이트',
 '나이키 덩크로우 검노  세제품',
 '나이키덩크로우 시카고nba콜라보',
 '나이키 SB 덩크 로우 인프라레드 ',
 '[] 나이키 덩크로우 아키오핑크',
 '덩크로우 미디움 그레이 ',
 '나이키 덩크로우 넥스트 네이처 페일 코랄 우먼스 새상품',
 '[] 나이키 덩크로우 카시나 블루버스',
 '나이키 덩크로우 스페셜 패키지 ',
 '나이키 X CPFM 덩크 로우 스왈로브스키 퓨어 플래티넘',
 '급처 나이키 덩크로우 바시티그린 ',
 '[] 나이키 덩크로우 free. 프리 gs Y',
 '나이키 덩크로우 SE 서울',
 '(XS~XL) 스투시 베이직 백로고 그린 반팔 정품 구매대행',
 '[]나이키 덩크로우 미디엄커리',
 '나이키 덩크로우 디스럽트 게임로얄()',
 'w 나이키 x nba 덩크 로우 네츠 팝니다',
 '나이키 덩크 로우 바시티 그린  새상품 팝니다',
 '나이키 덩크 로우 NBA 주년 시카고  사이즈',
 '나이키덩크로우 회빨 ',
 '나이키 덩크하이',
 '나이키 SB 덩크 프로 로우 스트릿호커 ',
 '나이키덩크로우 범고래td ',
 '(새상품)나이키덩크로우 레트로 프리미엄 cider',
 '[] 나이키 덩크로우 범고래 TD',
 '[]나이키 덩크 로우 범고래',
 '[]나이키 덩크 로우 보르도 ',
 '중고 노박스  나이키 올드 덩크',
 '[] 나이키 덩크 로우 세라믹',
 '나이키 덩크로우 범고래 (GS)',
 '나이키 덩크로우 넥스트 네이처 페일코랄 ',
 '나이키 에어맥스 건담 우먼스 ',
 ' 나이키 덩크 로우 범고래 새상품',
 '나이키 덩크 로우 블랙  ',
 '나이키 w덩크로우 레이저오렌지 (크림발 풀구성,회 착용)',
 '나이키 우먼스 덩크로우 범고래 w',
 '[] 나이키 X 오프화이트 덩크로우 남노',
 '나이키덩크로우 바시티그린 ',
 '나이키 x 오프화이트 덩크로우  () 무료배송',
 '나이키 덩크로우 퍼플 펄스',
 '나이키 덩크로우 se 서울 (, ) 새상품',
 '오프화이트 덩크로우    ',
 '[W] 나이키 우먼스 덩크로우 펄 화이트 판매합니다',
 '나이키 덩크로우 그레이/레드',
 '나이키 운동화()',
 '[] 나이키X오프화이트 덩크로우 /',
 '나이키 덩크로우 오프화이트',
 '[](PS)나이키 덩크로우 블랙',
 ' 나이키 덩크로우 범고래GS ',
 '나이키 덩크로우 블랙 멀티 카모 사이즈',
 '나이키덩크 아키오핑크  새제품',
 '나이키 덩크로우 아키오핑크 (택배가능)',
 '덩크로우 지브라 사이즈',
 '나이키 덩크로우, 조던 하이,미드 사이즈 팔아요',
 '나이키 덩크 로우 레트로 블랙 범고래 검흰 ',
 ' 나이키 덩크 로우 SP 베니어',
 '[] 나이키 덩크로우 챔피언쉽 골든로우',
 '나이키 덩크 로우 유니버시티 블루( 유블)',
 '나이키 오프화이트 덩크로우 레드',
 '나이키 SB 덩크로우 프로 클래식 그린',
 ' GS 범고래 나이키 덩크로우 팝니다',
 '[판매완료] 나이키 덩크로우 시라큐스 ',
 '나이키 덩크로우 라이트본 우먼스 , 판매',
 '나이키 덩크로우 코스트 신발끈 사요 ㅠ',
 '덩크 범고래 ',
 ' 나이키 덩크 로우 유니버시티블루 ',
 '나이키 덩크로우 레트로 범고래 남성사이즈  판매',
 '나이키 덩크 SB 클래식 그린 ',
 '나이키 덩크로우 범고래  새제품',
 '(GS) 나이키 덩크 하이 블랙 앤 화이트',
 '나이키 덩크 로우 베얼리 그린  새상품',
 '나이키 덩크로우 범고래 교환 (본인) > 로',
 '스톤아일랜드 맨투맨',
 '나이키 덩크로우 범고래  새상품 팝니다',
 '나이키 덩크로우 유니버시티 레드"CU-"',
 '나이키 조던 덩크로우 러쉬핑크 gs ',
 '나이키덩크로우 화이트 멀티카모 사이즈  판매',
 '나이키 덩크 아키오핑크 ',
 '나이키 덩크 로우 범고래 사이즈(KREAM) 팝니다.',
 '[] 나이키 덩크로우 미시건 남노',
 '나이키 오프화이트 덩크 로우 흰초',
 '나이키 덩크로우 미디엄커리 ',
 '나이키 덩크 SB 씨 크리스탈  (->-> 마지막 가격)',
 '나이키덩크로우 라이트본',
 '나이키 덩크 로우 회빨() 새상품',
 '[급처]나이키 정품 덩크로우 시러큐스 오렌지 ',
 '나이키 덩크로우 W범고래  새제품(직거래안산)',
 '[]나이키 덩크로우 레트로',
 '나이키 덩크로우  바이유 ',
 '나이키 덩크 로우 SP 유니버시티 레드 ',
 'Nike Dunk Low SE Free. White ',
 '나이키 SB 덩크 로우 프로 레이저블루 ',
 '덩크 로우 프리 ()',
 "나이키 덩크로우 카시나 블루'S/남성()/S",
 '나이키 핑크폼 (y)',
 '나이키 sb 덩크 로우 프로 셀라돈',
 '(정품) 나이키 덩크로우 포톤더스트 w ',
 '나이크 덩크로우 서울 사이즈 팔아요',
 '[gs]나이키 덩크로우 범고래 나코택',
 'NIKE DUNK LOW (PS) 나이키 덩크 로우 미시건',
 "[] 새상품 나이키 덩크 로우 카시나 블루 's 버스",
 '(M~XXL) 나이키 nsw 뉴욕 시티 화이트 반팔 정품 새상품 구매대행',
 'Nike Dunk CMFT PRM "Swoosh Social Club"',
 '나이키 덩크로우 펄화이트(W)()',
 '[] 나이키 덩크로우 se 플립',
 '나이키 덩크로우 디스럽트 화이트',
 '[]나이키 덩크로우 커리 (새상품)',
 '() 나이키 범고래 우먼스 덩크로우 나코탭 새상품',
 '나이키 덩크로우W 범고래 ',
 '[]나이키 덩크 로우 서울 ',
 '[] 나이키 덩크오루 se 서울',
 '나이키 덩크 로우 레트로 블랙  사이즈 판매 합니다',
 '[전남/광주]나이키 덩크로우 트로피칼 트위스트  판매 ',
 '나이키 덩크로우 블랙 ',
 '우먼스 덩크로우 ',
 'sb 덩크로우 블루칠 사이즈',
 ' 나이키 덩크로우 챔피언쉽 골든로드',
 '나이키 덩크로우 범고래  한번 착용 단품',
 ' 나이키 덩크로우 SE 서울 .',
 '[] 나이키 션클리버 SB 덩크로우 ',
 '새상품)정품 나이키 덩크로우 넥스트 네이쳐 페일코랄',
 '조던 미드 시카고 블랙토 팝니다 ',
 '나이키 오프화이트 콜라보 덩크 로우 DM 스니커즈 운동화',
 '나이키 덩크 프리미엄 치타()',
 '나이키 덩크 브라질',
 '덩크로우 범고래 맨 ',
 '나이키 조던 덩크로우 제이드 ',
 '나이키 덩크로우 레트로 챔피언쉽 그레이 / 미시착제품 / 택포함',
 '[] 나이키 덩크로우 NBA NETS ',
 '나이키sb 덩크로우 프로 레드 플럼 새상품 ',
 '나이키 SB덩크로우 코트퍼플 ',
 '[ 새상품]나이키 덩크 하이 레트로 오렌지',
 '[] 나이키 x 오프화이트 The  - Lot ',
 '나이키 덩크 삼바 (새상품)',
 '조던/ 덩크로우unc/ ',
 '나이키 덩크 로우 범고래  bigkids',
 '나이키 덩크로우 포톤더스트  팔아요',
 '[] 나이키 덩크 로우 프리',
 '나이키 덩크 로우 SE FLIP ',
 ' 나이키 덩크로우 옐로우 스트라이크',
 '나이키 덩크로우 범고래  사요',
 '나이키 바이유 에어포스 범고래',
 '나이키 덩크로우 SP 시티마켓  팝니다',
 '휠라 올드스쿨 후드자켓',
 '나이키 덩크 미시건',
 '나이키 덩크 로우 클래식 그린',
 '나이키 덩크로우 x UNDEFEATED 언더피티드 mm',
 '나이키 우먼스 덩크로우 디스럽트',
 '[새상품] 나이키 덩크 로우 그레이 사이즈',
 '덩크로우 포톤 더스트',
 '나이키 덩크로우 범고래 w팝니다',
 '나이키 덩크로우 치타',
 '[] 나이키 덩크 로우 레트로 바시티 메이즈',
 '나이키 sb 덩크 블루화이트 ',
 '[] 나이키 덩크 로우 커리',
 '[] 나이키 조던  로우 그레이',
 '덩크로우 네츠 nba[]',
 '나이키 덩크로우 골든로드  새상품',
 '덩크로우 시라큐스  팝니다',
 '[] 나이키 덩크로우 unc블루 코스트',
 '나이키 덩크로우 라임 아이스 라이트 소프트 DD-  ',
 '나이키 브라이트 크림슨 게임 로얄',
 '(가격인하)나이키 덩크 서울 스페셜 기프트  사이즈',
 '나이키 카시나 덩크로우()',
 '나이키 덩크로우 ',
 '(w)나이키 디스럽트 덩크로우 범고래',
 '나이키 덩크 서울',
 '나이키덩크로우챔피언쉽',
 '나이키 오프화이트 덩크로우 파인그린',
 '나이키 덩크로우 범고래   새상품',
 '나이키 우먼스 덩크로우 ()',
 '나이키x오프화이트 덩크로우 lot   size',
 '() 나이키 덩크 로우 바시티메이즈',
 '나이키 덩크로우 범고래 ,',
 '나이키 아이비리그 후드티',
 '나이키 덩크 로우 레트로 챔피언쉽 그레이',
 '[] 나이키 덩크로우 치타',
 '나이키 덩크로우 챕피언십 골든로드 ',
 '[,퀄 최상] 나이키 덩크로우 범고래',
 '범고래 덩크로우',
 '[팝니다] 나이키 덩크 로우 넥스트 네이쳐 페일 코랄 ,',
 '[] 나이키 덩크 로우 코스트',
 '나이키 덩크로우 코발트블루',
 ' 덩크로우 범고래 새상품 쿨거시 택포!! 판매:)',
 '[] 나이키 파라덩크 ',
 '나이키 덩크 로우 서울  서울덩크',
 ' [미개봉 새상품]() 나이키 덩크 하이 게임로얄 블루 조던',
 '[W] 나이키 덩크로우 범고래 우먼스',
 '나이키 카시나 덩크 ',
 '덩크로우 미디엄 그레이',
 '나이키 덩크 로우 블랙 범고래 w',
 '() 나이키 덩크로우 챔피언쉽 골든로드',
 '나이키 덩크로우 바시티그린 사이즈 ',
 '()나이키 덩크로우 챔피언십 그레이',
 '나이키x카시나 덩크로우 로드사인 넵튠그린 민트',
 '나이키 덩크 로우 돌고래 조지타운',
 '나이키 nba 덩크로우 ',
 '나이키 우먼스 덩크 로우 범고래 ',
 '나이키 sb덩크로우 시카고',
 '서울덩크로우  팝니다',
 '나이키 덩크로우 흰검 사이즈',
 '[] 나이키 덩크 로우 서울',
 '나이키 덩크로우 범고래 우먼스 wmm 새제품',
 '나이키 SB 덩크로우 프로 걸프',
 '나이키 덩크 로우 SE 프리  화이트 ',
 '나이키 덩크로우 시카고 gs ',
 '나이키 덩크 바시티 그린 새상품',
 '[]나이키 덩크로우 범고래',
 '나이키 덩크로우 레트로 프리미엄 지브라 (DH-)',
 '덩크로우 서울 판매합니다',
 '나이키 데이브레이크 토파츠 골드',
 '나이키 덩크로우 코스트 팝니다.',
 '나이키sb덩크로우클래식 그린',
 '나이키 덩크로우 레트로 챔피온쉽 골든로드  당첨 판매합니다',
 '나이키 덩크로우(GS) 바시티 메이즈',
 '나이키 덩크 로우 회뻘() 새상품',
 ' 나이키 덩크 로우 레트로 검흰 범고래 DD-',
 '나이키 덩크로우 골든로드  사이즈 판매',
 '[판매완료] [] 나이키 조던 덩크 로우 서울 SE',
 '나이키 덩크로우 디스럽트 블랙 화이트  중고',
 '오프화이트X나이키 덩크로우 파인그린 ',
 '나이키 덩크 로우 범고래 검',
 '나이키 덩크로우 SE<DM->',
 '[] 나이키xNBA 덩크 로우 시카고',
 '(XS~XL) 색상 스투시 팜 스프링 검/흰 반팔 정품 새상품 구매대행',
 '나이키 덩크로우 커뮤니티 가든  ',
 '나이키 SB 덩크로우 피쉬 레더 연어 ',
 '나이키 덩크로우 범고래 GS 판매합니다',
 '가격인하 조던 덩크로우 범고래  ',
 '()나이키 덩크로우 유니버시티 블루',
 ' 나이키 SB덩크로우 프로 프리미엄 바르셀로나',
 '나이키 덩크로우 SB 웜스 Warmth 사이즈 판매',
 '나이키 덩크로우 범고래 GS (Y)',
 '나이키 덩크로우  개쌈 찔러봐라',
 '()나이키 덩크로우 sp 컬리지 네이비',
 '() 나이키 덩크로우 범고래 우먼',
 '나이키 x 파라 SB덩크 로우 프로 앱스트랙트 아트',
 ' 나이키 오프화이트 덩크로우 더  로트 번착용',
 '() 오프화이트 덩크로우 ',
 '[W] 나이키 덩크 로우 범고래 ',
 '나이키 x 오프화이트 덩크로우 로트 ()',
 '나이키 덩크로우 언티핏 mm',
 '덩크로우 오렌지펄',
 '나이키 덩크로우 범고래  만원',
 '나이키 덩크로우 범고래 GSmm',
 '(풀박스) 오프화이트 X 나이키 덩크 빨회 size',
 '나이키 (w) 덩크로우 라이트 본 (우먼스)',
 '나이키 덩크로우  햄프 브라운 ',
 '나이키 오프화이트X덩크로우 lot',
 '나이키 덩크로우 범고래 우먼스  팝니다',
 ' ] 나이키 X 오프-화이트 덩크로우 LOT -',
 '리복 일본판 올드스쿨 아노락',
 '[] 나이키 덩크로우 레트로 골든 로드  팝니다',
 '완전 새상품 덩크 cider',
 '[]나이키 오프화이트 덩크로우 남노 미시건',
 '나이키 덩크로우 SE 서울 ()',
 '나이키 조던 덩크로우 범고래 ',
 '[] 나이키 덩크 로우 넥스트 네이처 페일 코랄',
 '나이키 덩크로우 범고래 W 사이즈 새제품',
 '[판매] 나이키 덩크로우 / 골든로드 / ',
 '(삽니다) 나이키 덩크로우 ',
 '나이키 덩크로우 미시건 ',
 '-- 나이키 덩크 로우 넥스트 네이처 세일',
 '나이키 덩크로우 범고래 우먼스(W) 드로우 당첨 제품 판매합니다',
 '나이키 덩크로우 레트로 범고래 하나 남음',
 '[]나이키 오프화이트 덩크로우 남노',
 '[ w ] 나이키 덩크로우 보르도 우먼스',
 '나이키 덩크로우 포톤 더스트()',
 '나이키 덩크로우 세라믹  정품',
 '나이키 덩크로우 범고래 판매합니다.',
 '()나이키 덩크 se 블랙 멀티카모',
 '나이키 덩크로우 범고래 레트로 ',
 '나이키 페니 ',
 '나이키 덩크로우 레트로 블루()',
 '() 나이키 덩크로우 범고래 새상품',
 '나이키 덩크로우 메이즈',
 '나이키 덩크로우 범고래 여자 ',
 '[W] 나이키 덩크로우 포톤더스트',
 '덩크로우 티파니  판매합니다.',
 '[] 나이키 x FTC 덩크 로우 라군 펄스',
 '나이키 덩크로우 흰빨 ',
 '나이키 덩크로우 흰빨',
 '덩크로우 코스트 w 판매합니다',
 '나이키 덩크로우 라이트 본w ',
 '나이키 SB 덩크 로우 클래식 그린 Nike SB Dunk Low',
 '()나이키 덩크로우 옐로우스트라이크 판매합니다.',